{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Admin - Manage Lookup Tables</h1>
</div>

<p>Select a lookup table to manage its values.</p>

<div class="list-group">
    {% for model_name, model_info in models.items() %}
    <a href="{{ url_for('manage_lookup_table', model_name=model_name) }}" class="list-group-item list-group-item-action">
        {{ model_info.title }}
    </a>
    {% endfor %}
</div>
{% endblock %}